<table mat-table [dataSource]="dataSourceForTable" matSort>

    <!-- Oszlopok definíciója -->
    <ng-container matColumnDef="uniqueParcelId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Csomagazonosító </th>
        <td mat-cell *matCellDef="let element"> {{element.uniqueParcelId}} </td>
    </ng-container>
    <ng-container matColumnDef="senderParcelLockerPostCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Feladás helye </th>
        <td mat-cell *matCellDef="let element"> {{element.senderParcelLockerCounty + " megye, " +
            element.senderParcelLockerPostCode + " " +
            element.senderParcelLockerCity
            + " " + element.senderParcelLockerStreet}}
        </td>
    </ng-container>
    <ng-container matColumnDef="receiverParcelLockerPostCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Érkezés helye </th>
        <td mat-cell *matCellDef="let element"> {{element.receiverParcelLockerCounty + " megye, " +
            element.receiverParcelLockerPostCode + " " +
            element.receiverParcelLockerCity
            + " " + element.receiverParcelLockerStreet}}
        </td>
    </ng-container>
    <ng-container matColumnDef="boxNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Rekesz </th>
        <td mat-cell *matCellDef="let element"> {{element.boxNumber}}</td>
    </ng-container>

    <!-- Oszlopok megjelenítése -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="d-flex justify-content-center mt-3">
    <div>
        <button [disabled]="sendButtonVisible === false" (click)="emptyParcelLocker()"
            style="width: 300px; height: 100px;" mat-raised-button color="primary">Automata kiürítése</button>
    </div>
</div>

<div class="d-flex justify-content-center mt-3">
    <div>
        <p *ngFor="let boxNumberMessage of boxNumberMessages">{{boxNumberMessage.boxNumber + ". rekesz kinyílt"}}</p>
    </div>
</div>

<div class="d-flex justify-content-center mt-3">
    <div>
        <p>{{noParcelMessage}}</p>
    </div>
</div>